<div class="container">

  <h1>Movie Search App</h1>

  <div class="search-container">
    <input type="text" class="search-input" [(ngModel)]="searchTerm">
    <button class="search-button" (click)="searchMovies()">Search</button>
  </div>

  <div class="results-container">
    <div *ngFor="let movie of searchResults" class="movie-result">
      <img src="{{ movie.Poster || 'https://via.placeholder.com/200x200' }}" class="movie-poster"
        alt="{{ movie.Title }}" (click)="redirectMovieURL(movie.imdbID)">
      <p class="movie-title">{{ movie.Title }}</p>
    </div>
  </div>
</div>
